@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500;700&display=swap');

body{
    
}
header{
    background-image: url("./Assets/Rectangle\ 44.png");
    height: 46vh;
    background-size: cover;
}
